/* CSS */
.button-37 {
    background-color: #13aa52;
    border: 1px solid #13aa52;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, .1) 0 2px 4px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Akzidenz Grotesk BQ Medium", -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    outline: 0;
    padding: 10px 25px;
    text-align: center;
    transform: translateY(0);
    transition: transform 150ms, box-shadow 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-37:hover {
    box-shadow: rgba(0, 0, 0, .15) 0 3px 9px 0;
    transform: translateY(-2px);
  }


/* Ajoutez ce bloc au fichier style.css */
.rooms-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  max-width: 100%;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}

.room-cell {
  text-align: center;
}

.room {
  max-width: 100%;
  height: auto;
  cursor: pointer;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.room-players {
  margin-top: 10px;
  font-size: 1em;
  color: #333;
}

.waiting-container {
  text-align: center;
  margin-top: 50px;
}

.waiting-container img {
  width: 100px;
  margin-top: 20px;
}



  
  @media (min-width: 768px) {
    .button-37 {
      padding: 10px 30px;
    }
  }